{% load i18n static socialaccount %}

{% if admin_interface == 'grappelli' %}
    {% include "admin/grapelli_login.html" %}
{% else %}
    {% include "admin/admin_login.html" %}
    {% block extrahead %}
        <script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    {% endblock %}
{% endif %}

<script>
    (function ($) {
        $(document).ready(function () {
            var google_link = "<strong>Oppure puoi accedere anche con le tue" +
                    " credenziali</strong>" +
                    "<a href=\"{% provider_login_url "google" process="login" %}\"" +
                    " id=\"google_auth\" class=\"grp-button grp-default\"" +
                    " value=\"Accedi con Google\" style=\"margin-left:10px;\">" +
                    "Google</a>";
            {% if admin_interface == 'grappelli' %}
                $("div.grp-submit-row").after(
                        "<div class=\"grp-module grp-submit-row\" " +
                        "style=\"margin-top: 20px; color: #309bbf; " +
                        "border-top: 1px solid #309bbf;\"><ul>" +
                        "<li style=\"vertical-align: bottom;\">" +
                        google_link + "</li></ul></div>");
            {% else %}
                $("#login-form").append("<div class=\"password-reset-link\"" +
                " style=\"margin-top: 20px;\">" + google_link + "</div>");
            {% endif %}
        });
    })(django.jQuery);
</script>

